{
    "extends": "divvy",
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "node": true
    },
    "rules": {
      "no-console": "off",
      "react/jsx-filename-extension": "off",
      "global-require": "off",
      "react/forbid-prop-types": "off",
      "max-len": 0,
      "no-template-curly-in-string": "off",
      "import/prefer-default-export": "off",
      "no-param-reassign": "off",
      "no-plusplus": "off",
      "no-underscore-dangle": "off"
    }
  }
  